.manage_container{
    margin-top: 0.15em;
    margin-left: .5em;
    padding: 0em 0em 0em 0em;
    background-color: white;
}

.item{
    padding: 0.4em;
    font-size: x-small;
}

.title{
	 background-color: gray;
    text-align: center;
    padding: .4em;
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.detail_container{
padding: 2em;
background-color: #c0c0c0;
}

.sow_list{
    padding: 1em;
    list-style: none;
    background-color: #289ebe;
    border-radius: 8px;
    margin: 1em;

}

.button{
    display: inline;
    padding:1em;
}
.button :hover {
    color:white;
    cursor: pointer;
}
.lable{
    font-size: 10px;
    font-weight: 300;
    padding: .5em;
}
.Dropdown{
    width: 35em;
}