.create_account_form{
    margin-left: .5em;
    padding: 2em;
    font-size: 14px;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c0c0c0;
  margin-left:.3em;
  margin-top:.2em;
  height: 100%;
  padding: 1em;
}

.flex_item1{
  height: 15em;
  width: 25em;
  flex-grow: 1;
  background-color: #289ebe;
  padding:2em;
  margin:1em;
  color:white;
  font-weight: 100;
}
.flex_item1:hover{
	box-shadow:0px 0px 7px 4px white;
	cursor:pointer;
}
.card_heading{
  font-size: 14px;
  color:white;
 font-weight: 100;
  margin-left:.3em;
  margin-top: .1em;
  padding-left:1em;
  padding-top: .45em;
  background-color: #016682;
  color:white;
  height:2em;
  text-align: center;
}
.card_subtext{
  font-size: 11px;
  padding:.5em;
}

.createAccount_container{

}

.title{

    text-align: center;
    color: white;
    background-color: #289ebe;
    margin-top: .12em;
    margin-left: .2em;
    padding: .5em;
    font-size: 14px;
    font-weight: 100;
}